<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div>
  </body>
</html>
